.listBox {
  flex: none;
  position: relative;

  > button.toggle {
    position: absolute;
    top: 0;
    width: 32px;
    height: 32px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: white;

    &.open {
      right: 1px;
      border: none;
    }
  }

  > section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    > h4 {
      margin-left: 16px;
      color: #727FA3;
    }

    > button.closer {
      width: 32px;
      height: 32px;
    }
  }

  > ul {
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px solid lightgray;
    overflow-y: auto;
    height: calc(100vh - 90px);
    width: 320px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #727FA3;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
      background-color: #D5D9E2;
      border-radius: 20px;
    }

    > li {
      padding: 20px 24px;
      word-break: break-word;
      font-weight: bold;
      font-size: 17px;
      cursor: pointer;

      &.active {
        background-color: #cad0e0;
      }

      &:not(:first-child) {
        border-top: 1px solid lightgray;
      }

      > .name {
        color: #141746;
      }

      > .coord {
        margin-top: 4px;
        color: #727FA3;
      }
    }
  }
}
