.btn {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #e6e9f3;
    border: none;
  }
  &:active {
    background-color: #cad0e0;
    &:hover {
      background-color: #cad0e0;
    }
  }
}