.labelContextmenu {
  position: absolute;
  width: 23rem;
  cursor: default;
  border-radius: 5px;
  background-color: #fbfbfb;
  box-shadow: 1px 1px 5px 0 #b5b5b5;

  > .item {
    padding: 1rem 1.5rem;

    &.disabled {
      color: #b8bdc7;

      > .shortcut {
        color: inherit;
      }
    }

    &:first-child {
      border-bottom: 1px solid #d1d2d8;
    }

    &:hover {
      background-color: #e0e3ea;
    }

    > .name {
      font-size: 1.4rem;
    }

    > .shortcut {
      float: right;
      padding-top: 0.5rem;
      font-size: 1rem;
      color: #717d9e;
    }
  }
}
