.labelingDetail {
  display: grid;
  grid-template-columns: 65px minmax(auto, 300px) auto;
  grid-template-rows: 85px auto;
  height: 100%;

  > .header {
    grid-column: 1/4;
  }

  > .modeBar {
    border-right: 1px solid lightgray;
  }

  > .labelingContent {

  }
}
