.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;

  &:focus {
    outline-color: #0f1350;
    outline-offset: 1px;
  }

  &:hover {
    background-color: #e6e9f3;
  }

  &:active {
    background-color: #cad0e0;
  }

  &.ghost {
    border: none;
    background-color: transparent;
  }
}
