@import "../../../../common/styles/common.scss";

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 56px;

  > button {
    height: 100%;
  }

  > h1 {
    @include one-line-ellipsis;
    color: var(--main-color);
  }

  > hr {
    border: none;
    border-left: 1px solid lightgray;
    height: calc(100% - 6px);
  }

  > * {
    margin-left: 8px;
  }
}
