.header {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid lightgray;

  > section.history {
    > .historyBtn {
      width: 50%;
      height: 100%;

      &:nth-child(2) > span > img {
        transform: rotate(180deg);
      }
    }
  }

  > h1 {
    margin: auto 50px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color);
  }
}
