/*
 * Common
 */
html, body, #root, .App{margin: 0; padding: 0; height: 100%}
li{display: block; text-align: none;}
ul{list-style-type: none; padding-inline-start: 0px; margin-block-start: 0; margin-block-end: 0;}
p{margin: 0}
input[type=range]{
  -webkit-appearance: none; width: 100%; background: transparent;
  &:focus {
    outline: none;
  }
}
button{
  border-style: none;
  background-color: white;
  padding: 0;
  &:focus {
    outline: none;
  }
}
.btn {
  -webkit-transition: background-color 0.3s; transition: background-color 0.3s; cursor: Pointer;
  .active {
    background-color: #cad0e0;
    &:hover {
      background-color: #cad0e0;
    }
  }
  &:hover{background-color: #e6e9f3;}
  &:active{background-color: #cad0e0;}
}
.btn-img{vertical-align: middle;}

/*
 * AnnotatorHome
 */
.home {
  padding: 50px 100px;
  .home-title {
    h1 {
    padding: 35px 15px; font-size: 2.5rem; color: #0f1350; margin: 0;
    }
  }
  .card-list {
    ::after{
      content: ''; display: block; clear: both;
    }
    .card {
      margin: 15px; float: left; width: 150px; height: auto; border: 1px solid lightgray;
      .card-thumbnail{
        height: 150px; border-bottom: 1px solid lightgray;
        .thumbnail{
          cursor: Pointer; width: 100%; height: 100%;
        }
      }
      .card-title{
        padding: 5px 7px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-weight: 600; font-size: 0.9rem; color: #2e2e2e
      }
    }
  }
}


/* 
 * AnnotatorAnnotatingLabel
 */
 .viewer{
   display: flex; flex-direction: column; height: 100%;
   .viewer-title {
    border: 1px solid lightgray; padding: 20px 20px 20px 50px; font-size: 2rem; font-weight: 800; color: #0f1350;
   }
   .viewer-content {
    display: flex; flex-direction: row; flex: 1; overflow: auto;
    
   /*
    * LabelList
    */
    .label-list {
      display: flex; flex: none; flex-direction: column; border-right: 1px solid lightgray;
      ul {
        overflow: auto;
        &:-webkit-scrollbar {width: 5px;}
        &:-webkit-scrollbar-thumb { background-color: #727fa3; border-radius: 20px; }
        &:-webkit-scrollbar-track {background-color: #d5d9e2; border-radius: 20px;}
      }
      .label-list-controller{display: flex; min-width: 300px; width: auto; border-bottom: 1px solid lightgray;
        span {
          padding: 5px 15px; color: #4d66a7; font-size: 0.85rem;
        }
        .label-list-btn{display: flex; margin-left: auto; padding: 10px 13px;}
      }
      .label-info{padding: 14px 20px 20px 20px; border-bottom: 1px solid lightgray; cursor: Pointer;
        .label-class{font-size: 0.8rem; font-weight: bold; color: #636a7b;}
        .label-coordinate{font-size: 0.7rem; padding-top: 5px; color: #828282;}
      }
    }
   }
 /*
  * LabelMode
  */
   .label-mode {
    display: flex; flex: none; flex-direction: column; border-right: 1px solid lightgray;
    .label-mode-btn {
      border-radius: 8px; margin: 5px 7px;
    }
  }
}

//  .viewer .viewer-content .label-list{display: flex; flex: none; flex-direction: column; border-right: 1px solid lightgray;}
//  .viewer .viewer-content .label-list ul{overflow: auto;}
//  .viewer .viewer-content .label-list ul::-webkit-scrollbar{width: 5px;}
//  .viewer .viewer-content .label-list ul::-webkit-scrollbar-thumb{background-color: #727fa3; border-radius: 20px;}
//  .viewer .viewer-content .label-list ul::-webkit-scrollbar-track{background-color: #d5d9e2; border-radius: 20px;}
//  .viewer .viewer-content .label-list .label-list-controller{display: flex; min-width: 300px; width: auto; border-bottom: 1px solid lightgray;}
//  .viewer .viewer-content .label-list .label-list-controller span{padding: 5px 15px; color: #4d66a7; font-size: 0.85rem;}
//  .viewer .viewer-content .label-list .label-list-controller .label-list-btn{display: flex; margin-left: auto; padding: 10px 13px;}
//  .viewer .viewer-content .label-list .label-info{padding: 14px 20px 20px 20px; border-bottom: 1px solid lightgray; cursor: Pointer;}
//  .viewer .viewer-content .label-list .label-info .label-class{font-size: 0.8rem; font-weight: bold; color: #636a7b;}
//  .viewer .viewer-content .label-list .label-info .label-coordinate{font-size: 0.7rem; padding-top: 5px; color: #828282;}
 
 /*
  * LabelBoard
  */
 .viewer .viewer-content .label-board{display: flex; flex: 1; flex-direction: column;}
 .label-input{width: 120px; border-radius: 15px; border: 2px solid lightgray; padding: 0 10px; height: 23px;}
 .label-input:focus{outline: none;}
 .label-board-scaler{position: fixed; bottom: 50px; right: 32px; width: 36px; height: 170px; border-radius: 6px; box-shadow: 0 0 3px 1.5px #e0e0e0; background-color: white; }
 .label-board-scaler .scaler-plus{position: absolute; left: 12px; top: 11px;}
 .label-board-scaler .scaler-minus{position: absolute; left: 12px; bottom: 11px;}
 .label-board-scaler .scaler-range{
   position: relative;
   top: 122px;
   left: 16px;
   width: 104px;
   height: 3px;
   transform: rotate(-90deg); 
   transform-origin: left;
   background: linear-gradient(to right, #333333 0%, #333333 50%, #dedede 50%, #dedede 100%);
   border-radius: 10px;
 }
 .label-board-scaler .scaler-range::-webkit-slider-thumb{
   -webkit-appearance: none; 
   width: 3px; 
   height: 15px; 
   cursor: pointer; background: #333333;
   border-radius: 10px;
 }
 .label-contextmenu{display: none; position: absolute; width: 230px; cursor: default; border-radius: 5px; background-color: #fbfbfb; box-shadow: 1px 1px 5px 0 #b5b5b5}
 .label-contextmenu .item{padding: 10px 15px;}
 .label-contextmenu .item.disabled{color: #b8bdc7}
 .label-contextmenu .item:first-child{border-bottom: 1px solid #d1d2d8;}
 .label-contextmenu .item:hover{background-color: #e0e3ea;}
 .label-contextmenu .item .item-name{font-size: 0.91rem;}
 .label-contextmenu .item .item-shortcut{float: right; padding-top: 5px; font-size: 0.7rem; color: #717d9e;}