
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  &:focus {
    outline: none;
  }
}

/*
* LabelList
*/
.label-list {
  flex: none;
  display: flex;
  flex-flow: column nowrap;
  border-right: 1px solid lightgray;
  ul {
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #727fa3;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
      background-color: #d5d9e2;
      border-radius: 20px;
    }
  }
  .label-list-controller {
    display: flex;
    min-width: 300px;
    width: auto;
    border-bottom: 1px solid lightgray;
    span {
      padding: 5px 15px;
      color: #4d66a7;
      font-size: 0.85rem;
    }
    .label-list-btn{
      display: flex;
      margin-left: auto;
      padding: 10px 13px;
    }
  }
  .label-info {
    padding: 14px 20px 20px 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    .label-class {
      font-size: 0.8rem;
      font-weight: bold;
      color: #636a7b;
    }
    .label-coordinate {
      font-size: 0.7rem;
      padding-top: 5px;
      color: #828282;
    }
  }
}
// LabelBoard
.label-board {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}


 /*
  * LabelBoard
  */
// .viewer .viewer-content .label-board{display: flex; flex: 1; flex-direction: column;}
.label-input {
  width: 120px;
  border-radius: 15px;
  border: 2px solid lightgray;
  padding: 0 10px;
  height: 23px;
  &:focus {
    outline: none;
  }
}

.label-board-scaler {
  position: fixed;
  bottom: 50px;
  right: 32px;
  width: 36px;
  height: 170px;
  border-radius: 6px;
  box-shadow: 0 0 3px 1.5px #e0e0e0;
  background-color: white;
  .scaler-plus {
    position: absolute;
    top: 11px;
    left: 12px;
  }
  .scaler-minus {
    position: absolute;
    left: 12px;
    bottom: 11px;
  }
  .scaler-range {
    position: relative;
    top: 122px;
    left: 16px;
    width: 104px;
    height: 3px;
    transform: rotate(-90deg); 
    transform-origin: left;
    background: linear-gradient(to right, #333333 0%, #333333 50%, #dedede 50%, #dedede 100%);
    border-radius: 10px;
    &::-webkit-slider-thumb{
      -webkit-appearance: none; 
      width: 3px; 
      height: 15px; 
      cursor: pointer; background: #333333;
      border-radius: 10px;
    }
  }
}

.label-contextmenu{
  display: none;
  position: absolute;
  width: 230px;
  cursor: default;
  border-radius: 5px;
  background-color: #fbfbfb;
  box-shadow: 1px 1px 5px 0 #b5b5b5;
  .item{
    padding: 10px 15px;
    &.disabled{
      color: #b8bdc7;
    }
    &:first-child{
      border-bottom: 1px solid #d1d2d8;
    }
    &:hover{
      background-color: #e0e3ea;
    }
    .item-name{
      font-size: 0.91rem;
    }
    .item-shortcut{
      float: right;
      padding-top: 5px;
      font-size: 0.7rem;
      color: #717d9e;
    }
  }
}
