
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  &:focus {
    outline: none;
  }
}

// LabelBoard
.labelBoard {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}


 /*
  * LabelBoard
  */
// .viewer .viewer-content .label-board{display: flex; flex: 1; flex-direction: column;}
.labelInput {
  width: 120px;
  border-radius: 15px;
  border: 2px solid lightgray;
  padding: 0 10px;
  height: 23px;
  &:focus {
    outline: none;
  }
}

.labelBoardScaler {
  position: fixed;
  bottom: 50px;
  right: 32px;
  width: 36px;
  height: 170px;
  border-radius: 6px;
  box-shadow: 0 0 3px 1.5px #e0e0e0;
  background-color: white;

  .plus {
    position: absolute;
    top: 11px;
    left: 12px;
  }
  .minus {
    position: absolute;
    left: 12px;
    bottom: 11px;
  }
  .scalerRange {
    position: relative;
    top: 122px;
    left: 16px;
    width: 104px;
    height: 3px;
    transform: rotate(-90deg); 
    transform-origin: left;
    background: linear-gradient(to right, #333333 0%, #333333 50%, #dedede 50%, #dedede 100%);
    border-radius: 10px;
    &::-webkit-slider-thumb{
      -webkit-appearance: none; 
      width: 3px; 
      height: 15px; 
      cursor: pointer; background: #333333;
      border-radius: 10px;
    }
  }
}
