.toolBar {
  flex: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 5.6rem;
  border-right: 1px solid lightgray;

  > button {
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    border: none;
    padding: 0;
    background-color: transparent;

    &:nth-child(1) {
      font-size: 3.2rem;
    }

    &:nth-child(2) {
      font-size: 1.4rem;
    }

    &.active {
      background-color: #cad0e0;
    }
  }

  > * {
    margin-top: 0.8rem;
  }
}
